.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font,
.color,
.sizes {
  background-color: #444;
  margin: 10px;
  padding: 15px 20px;
  color: white;
  border-radius: 6px;
}

.font select,
.color select,
.sizes select {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 6px;
}

.result {
  background-color: #ddd;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  border-radius: 6px;
}
